.resource {
  font-weight: bold;
}

tr.group,
tr.group:hover {
  background-color: #ddd !important;
}

td.version {
  vertical-align:top;
}

#analyzed_jobs {
  background: beige;
  margin: 1em 0;
  padding: 1em;
}

#analyzed_jobs_title, #missing_filter_title {
  font-weight: bold;
}

#missing_filter_title {
  margin-top: 1em;
}

#searchfilter {
  width: 100%;
}