<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dependency analyzer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/standard.css" th:href="@{/css/standard.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/r-2.1.1/datatables.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/r-2.1.1/datatables.min.js"></script>
    <script src="/js/datatable.js"></script>
</head>
<body>
<h1>Dependency analyzer</h1>

<div id="analyzed_jobs">
    <div id="analyzed_jobs_title">Filter</div>

    <form action="/analyzer" method="post" >
    <div class="search-block">
        <input type="submit" value="Search" />
        <div class="searchfilter_wrapper">
            <input type="text" name="searchfilter" id="searchfilter" th:value="${filter}" />
        </div>​
    </div>
    </form>

    <div id="missing_filter_title" th:if="${not #strings.isEmpty(missingFilter)}">Jobs that do not expose dependencies</div>
    <div id="missing_filter" th:if="${not #strings.isEmpty(missingFilter)}" th:text="${missingFilter}"></div>
</div>

<div id="resultsBlock">
    <div th:replace="assets :: dependenciestable"></div>
</div>
</body>
</html>